.buttonGrid {
  height: 604px;
  width: 604px;
}

.button{
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: -2px;
}

#red{
  background-color: red;
}

#blue{
  background-color: blue;
}

#yellow{
  background-color: yellow;
}

#green{
  background-color: green;
}

#reset{
  background-color: black;
  height: 30px;
  width: 75px;
  color: white;
}
