.buttonGrid {
  height: 604px;
  width: 604px;
  position: relative;
}

.button{
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: -2px;
  cursor: pointer;
}

#red{
  background-color: darkred;
}
#red.flash{
  background-color: red;
}

#blue{
  background-color: darkblue;
}
#blue.flash{
  background-color: blue;
}

#yellow{
  background-color: goldenrod;
}
#yellow.flash{
  background-color: yellow;
}

#green{
  background-color: darkgreen;
}
#green.flash{
  background-color: green;
}

#reset{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

#gameover {
  display: none;
  position: absolute;
  top: 230px;
  left: 200px;
  background-color: white;
  padding: 10px;
}
